:root {
  --background: rgb(255, 255, 255);
  --main-font: rgb(0, 0, 0);
  --link-font: rgb(255, 0, 77);
  --title-font: rgb(0, 0, 0);
  --separator-color: rgb(128, 128, 128);
  --code: rgb(250, 248, 245);
  --date: rgb(102, 102, 102);
}

.photo-col img {
  box-shadow: rgb(204, 204, 204) 0 0 10px 0;
}
:root {
  --content: 52rem;
}

* {
  margin: 0;
  padding: 0;
}

html {
  color: var(--main-font);
  background-color: var(--background);
  font-family: Georgia, Times, serif;
}

img {
  border-radius: 4%;
}

a {
  color: var(--link-font);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

hr {
  border-left: 0;
  border-right: 0;
  border-top: 1px solid var(--separator-color);
  border-bottom: 1px solid var(--separator-color);
  margin-left: auto;
  margin-right: auto;
  max-width: var(--content);
  height: 1px;
}

.top {
  margin-bottom: 0.5rem;
}

header {
  max-width: var(--content);
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}

header a {
  display: inline-flex;
  font-size: 1rem;
  padding: 0.25rem;
}

.header-left {
  flex: 1;
}

.header-left a {
  font-size: 1.2rem;
  margin-left: 0;
}

footer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
  max-width: var(--content);
}

footer a {
  font-size: 1rem;
  margin: 0.2rem;
}

main {
  max-width: var(--content);
  margin: auto;
}

section {
  display: block;
}

.index {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  line-height: 2.3rem;
}

.index section p {
  text-align: center;
  margin-bottom: 2rem;
}

.not-found {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  line-height: 2.3rem;
}

.not-found section p {
  text-align: center;
  margin-bottom: 2rem;
}

.photos {
  margin-bottom: 1.5rem;
}

.photos section {
  padding: 1rem;
  margin-bottom: 0.5rem;
  border-color: transparent;
  border-radius: 10px;
}

.photos section h1 {
  text-align: center;
}

.photos section p {
  font-size: 1.5rem;
  text-align: center;
}

.projects section {
  padding: 1rem;
  margin-bottom: 0.5rem;
}

section h1 {
  display: block;
  font-size: 1.4rem;
  color: var(--title-font);
  margin-bottom: 1rem;
}

.flex {
  display: flex;
}

.photo-left {
  flex: 0 0 30%;
}

.photo-left img {
  max-width: 100%;
  max-height: 100%;
}

.photo-right {
  flex: 1;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
}

section a {
  margin-right: 0.2rem;
}

section p {
  display: block;
  margin-bottom: 1rem;
}

.photo-container {
  display: flex;
  justify-content: center;
}

.photo-col {
  flex: 1;
  padding: 0.5rem;
}

.photo-col img {
  image-orientation: from-image;
  width: 100%;
  margin-bottom: 1rem;
}

pre {
  padding: 1rem;
  margin-bottom: 0.5rem;
  border-color: transparent;
  border-radius: 10px;
  white-space: pre-wrap;
}

pre {
  background-color: var(--code);
}

code {
  font-size: 0.9rem;
}

.project-title {
  display: flex;
  align-items: center;
}

.project-title h1 {
  flex: 1;
}

.date {
  font-size: 0.8rem;
  color: var(--date);
  margin-bottom: 1rem;
}

.share {
  text-align: center;
  margin-bottom: 0.5rem;
}

@media (max-width: 800px) {
  :root {
    --content: 90%;
  }

  header {
    flex-wrap: wrap;
  }

  .header-left {
    white-space: nowrap;
  }

  section a {
    margin-right: 1rem;
  }

  footer a {
    display: inline-block;
    width: 20%;
  }
}
