:root {
  --background: rgb(254, 246, 228);
  --top-border: rgb(100, 124, 132);
  --paper: rgb(255, 255, 255);
  --separator: rgb(68, 68, 68);
  --link: rgb(229, 0, 83);
  --font-color: rgb(68, 68, 68);
}

main {
  box-shadow: rgb(204, 204, 204) 0 0 10px 0;
}

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--background);
  font-family: Georgia, Times, serif;
  color: var(--font-color);
}

a {
  text-decoration: none;
  color: var(--link);
}

a:hover {
  text-decoration: underline;
}

main {
  border-top: 6px solid var(--top-border);
  width: 64rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  background-color: var(--paper);
}

.paper {
  padding: 4rem;
}

hr {
  width: 100%;
  height: 1px;
  border-left: 0;
  border-right: 0;
  border-top: 1px solid var(--separator);
  border-bottom: 1px solid var(--separator);
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

footer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
  width: var(--content);
}

footer a {
  margin: 0.2rem;
  color: var(--main-font);
}

footer a img {
  width: 0.9rem;
}

.top {
  display: flex;
  align-items: center;
}

.name {
  flex: 1;
  font-size: 2rem;
  margin-left: 0;
}

.info {
  text-align: right;
}

.subtop {
  flex: 1;
  margin-top: 0.5rem;
  font-size: 1.5rem;
}

.svg-link img {
  width: 0.9rem;
  margin-right: 0.4rem;
}

section {
  display: flex;
}

.section-left {
  flex: 0 0 20%;
}

.section-right {
  width: 100%;
}

.skills div span {
  display: inline-block;
  padding: 0.1rem 0.5rem;
}

.skills div span:hover {
  text-decoration: underline;
}

.small-hr {
  opacity: 0.5;
  border-bottom: none;
}

.section-sub-top {
  display: flex;
  align-items: center;
}

.section-sub-top-left {
  flex: 1;
  font-size: 1.5rem;
}

.section-sub-top-right {
  font-size: 1.2rem;
}

@media (pointer: none), (pointer: coarse) {
  :root {
    --content: 90%;
  }
}
