:root {
  --content: 52rem;
  --dark-font: rgb(100, 124, 132);
  --light-font: rgb(180, 136, 0);
}

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: rgb(43, 46, 59);
  font-family: sans-serif;
  color: var(--dark-font);
}

header {
  width: var(--content);
  margin-top: 3rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

header a {
  color: var(--light-font);
  font-size: 1rem;
  outline: none;
  text-decoration: none;
  padding-right: 0.9rem;
}

header a:hover {
  color: var(--dark-font);
  text-decoration: underline;
}

.title {
  font-size: 1.5rem;
}

main {
  width: var(--content);
  margin: auto;
}

.projects section {
  display: block;
  margin-bottom: 0.5rem;
  border-color: transparent;
  border-radius: 10px;
  padding: 1rem;
}

.projects section:hover {
  background-color: rgb(244, 236, 218);
}

section h1 {
  display: block;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

section a {
  color: var(--light-font);
  outline: none;
  text-decoration: none;
  margin-right: 0.2rem;
}

section a:hover {
  text-decoration: underline;
}

section a img {
  width: 0.9rem;
  margin-right: 0.4rem;
}

section p {
  display: block;
  margin-bottom: 1rem;
}

.photos section {
  text-align: center;
}

.photos section img {
  image-orientation: from-image;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 5px 0px;
}

.photos section img:hover {
  box-shadow: rgba(0, 0, 0, 0.8) 0px 2px 5px 0px;
}

hr {
  border-top: 1px solid #000000;
  opacity: 0.2;
  margin: 1.5rem auto;
  width: var(--content);
}

footer {
  display: block;
  margin: auto;
  margin-bottom: 1.5rem;
  text-align: center;
  width: var(--content);
}

footer a {
  margin: 0.2rem;
  color: var(--dark-font);
}

footer a img {
  width: 0.9rem;
}
