:root {
  --content: 52rem;
  --background: rgb(254, 246, 228);
  --background-hightlight: rgb(244, 236, 218);
  --main-font: rgb(100, 124, 132);
  --link-font: rgb(180, 136, 0);
  --title-font: rgb(180, 136, 0);
  --highlight-font: rgb(100, 124, 132);
}

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--background);
  font-family: sans-serif;
  color: var(--main-font);
}

header {
  width: var(--content);
  margin-top: 3rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

header a {
  color: var(--link-font);
  font-size: 1rem;
  outline: none;
  text-decoration: none;
  padding-right: 0.9rem;
}

header a:hover {
  color: var(--highlight-font);
  text-decoration: underline;
}

.title {
  font-size: 1.5rem;
}

main {
  width: var(--content);
  margin: auto;
}

section {
  margin-bottom: 1.5rem;
}

.projects section {
  display: block;
  margin-bottom: 0.5rem;
  border-color: transparent;
  border-radius: 10px;
  padding: 1rem;
}

.projects section:hover {
  background-color: var(--background-hightlight);
}

section h1 {
  display: block;
  font-size: 1.4rem;
  color: var(--title-font);
  margin-bottom: 1rem;
}

.flex {
  display: flex;
}

.flex-left {
  flex: 0 0 40%;
}

.flex-right {
  flex: 1;
  padding-left: 1.5rem;
}

section a {
  color: var(--link-font);
  outline: none;
  text-decoration: none;
  margin-right: 0.2rem;
}

section a:hover {
  text-decoration: underline;
}

section a img {
  width: 0.9rem;
  margin-right: 0.4rem;
}

section p {
  display: block;
  margin-bottom: 1rem;
}

section img {
  border-radius: 4%;
}

.photos section {
  text-align: center;
}

.photos section img {
  image-orientation: from-image;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 5px 0px;
}

.photos section img:hover {
  box-shadow: rgba(0, 0, 0, 0.8) 0px 2px 5px 0px;
}

hr {
  border-top: 1px solid #000000;
  opacity: 0.2;
  margin-left: auto;
  margin-right: auto;
  width: var(--content);
}

footer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
  width: var(--content);
}

footer a {
  margin: 0.2rem;
  color: var(--main-font);
}

footer a img {
  width: 0.9rem;
}
