:root {
  --content: 52rem;
  --dark-font: #657b84;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 100%;
  color: var(--dark-font);
  background-color: #fdf6e4;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

header {
  width: var(--content);
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

header a {
  color: #b58900;
  font-size: 1.2rem;
  outline: none;
  text-decoration: none;
  padding-right: 0.9rem;
}

header a:hover {
  color: var(--dark-font);
  text-decoration: underline;
}

.title {
  font-size: 1.4rem;
}

main {
  width: var(--content);
  margin: auto;
}

section {
  display: block;
  margin-bottom: 2rem;
}

section:hover {
  background-color: #000000;
  border-radius: 25px;
}

section h1 {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

section h1 a {
  color: var(--dark-font);
  outline: none;
  text-decoration: none;
}

hr {
  border-top: 1px solid var(--dark-font);
  margin: 1.5rem auto;
  width: var(--content);
}

footer {
  display: block;
  margin: auto;
  text-align: center;
  width: var(--content);
}

footer a {
  margin: 0.2rem;
  color: var(--dark-font);
}

footer a img {
  width: 0.9rem;
}
