:root {
  --background: rgb(39, 40, 34);
  --top-border: rgb(100, 124, 132);
  --paper: rgb(255, 255, 255);
  --separator: rgb(68, 68, 68);
  --link: rgb(229, 0, 83);
  --font-color: rgb(68, 68, 68);
}

footer a img {
  filter: invert(0.75);
}

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--background);
  font-family: Georgia, Times, serif;
  color: var(--font-color);
}

main {
  border-top: 6px solid var(--top-border);
  width: 60rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  background-color: var(--paper);
}

.paper {
  padding: 4rem;
}

hr {
  width: 100%;
  height: 1px;
  border-left: 0;
  border-right: 0;
  border-top: 1px solid var(--separator);
  border-bottom: 1px solid var(--separator);
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

footer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
  width: var(--content);
}

footer a {
  margin: 0.2rem;
  color: var(--main-font);
}

footer a img {
  width: 0.9rem;
}

.flex {
  display: flex;
  align-items: center;
}

.name {
  flex: 1;
  font-size: 2rem;
  margin-left: 0;
}

.info {
  text-align: right;
}

.info a {
  color: var(--link);
  text-decoration: none;
}

.info a:hover {
  text-decoration: underline;
}

.subtop {
  flex: 1;
  margin-top: 0.5rem;
  font-size: 1.5rem;
}

.svg-link img {
  width: 0.9rem;
  margin-right: 0.4rem;
}

section {
  display: flex;
}

.section-left {
  flex: 0 0 40%;
}
