:root {
  --background: rgb(39, 40, 34);
  --background-hightlight: rgb(62, 61, 50);
  --main-font: rgb(156, 220, 254);
  --link-font: rgb(240, 38, 110);
  --title-font: rgb(174, 129, 225);
  --highlight-font: rgb(166, 226, 46);
  --separator-color: rgb(174, 129, 225);
}

section a img {
  filter: invert(0.75);
}

footer a img {
  filter: invert(0.75);
}

:root {
  --content: 52rem;
}

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--background);
  font-family: sans-serif;
  color: var(--main-font);
}

img {
  border-radius: 4%;
}

header {
  max-width: var(--content);
  margin-top: 3rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}

header a {
  display: inline-flex;
  color: var(--link-font);
  font-size: 1rem;
  outline: none;
  text-decoration: none;
  padding: 0.5rem;
}

header a:hover {
  background-color: var(--background-hightlight);
  border-radius: 10px;
}

.header-left {
  flex: 1;
}

.header-left a {
  font-size: 1.5rem;
  margin-left: 0;
}

main {
  max-width: var(--content);
  margin: auto;
}

section {
  display: block;
}

.index {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.photos {
  margin-bottom: 1.5rem;
}

.photos section {
  padding: 1rem;
  margin-bottom: 0.5rem;
  border-color: transparent;
  border-radius: 10px;
}

.projects section {
  padding: 1rem;
  margin-bottom: 0.5rem;
  border-color: transparent;
  border-radius: 10px;
}

.projects section:hover {
  background-color: var(--background-hightlight);
}

.articles section {
  padding: 1rem;
  margin-bottom: 0.5rem;
  border-color: transparent;
  border-radius: 10px;
}

.articles section:hover {
  background-color: var(--background-hightlight);
}

section h1 {
  display: block;
  font-size: 1.4rem;
  color: var(--title-font);
  margin-bottom: 1rem;
}

.flex {
  display: flex;
}

.photo-left {
  flex: 0 0 30%;
}

.photo-left img {
  max-width: 100%;
  max-height: 100%;
}

.photo-right {
  flex: 1;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
}

section a {
  color: var(--link-font);
  outline: none;
  text-decoration: none;
  margin-right: 0.2rem;
}

section a:hover {
  text-decoration: underline;
}

.svg-link img {
  width: 0.9rem;
  margin-right: 0.4rem;
}

section p {
  display: block;
  margin-bottom: 1rem;
}

.photo-container {
  display: flex;
  justify-content: center;
}

.photo-col {
  flex: 1;
  padding: 0.5rem;
}

.photo-col img {
  image-orientation: from-image;
  width: 100%;
  margin-bottom: 1rem;
}

hr {
  border-left: 0;
  border-right: 0;
  border-top: 1px solid var(--separator-color);
  border-bottom: 1px solid var(--separator-color);
  margin-left: auto;
  margin-right: auto;
  max-width: var(--content);
  height: 1px;
}

footer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
  max-width: var(--content);
}

footer a {
  margin: 0.2rem;
}

footer a img {
  width: 0.9rem;
}

pre {
  padding: 1rem;
  margin-bottom: 0.5rem;
  border-color: transparent;
  border-radius: 10px;
  white-space: pre-wrap;
}

pre {
  background-color: var(--background-hightlight);
}

code {
  font-size: 0.9rem;
}

.project-details {
  display: flex;
  align-items: center;
}

.project-details-text {
  flex: 0 0 80%;
}

.project-details-img {
  flex: 1;
}

.project-details-img img {
  border: none;
  max-width: 100%;
  max-height: 100%;
}

.date {
  font-weight: bold;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.top {
  margin-bottom: 0.5rem;
}

@media (max-width: 800px) {
  :root {
    --content: 90%;
  }

  header {
    flex-wrap: wrap;
  }

  .header-left {
    white-space: nowrap;
  }

  section a {
    margin-right: 1rem;
  }

  .project-details {
    display: block;
  }

  .project-details-text {
    display: block;
    flex: none;
  }

  .project-details-img {
    display: block;
    flex: none;
    margin-top: 1rem;
  }

  footer a {
    display: inline-block;
    width: 20%;
  }

  footer a img {
    width: 2rem;
  }
}
