:root {
  --content: 52rem;
  --background: rgb(254, 246, 228);
  --background-hightlight: rgb(244, 236, 218);
  --main-font: rgb(100, 124, 132);
  --link-font: rgb(180, 136, 0);
  --title-font: rgb(100, 124, 132);
  --highlight-font: rgb(100, 124, 132);
  --separator-color: rgb(128, 128, 128);
}

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--background);
  font-family: sans-serif;
  color: var(--main-font);
}

img {
  border-radius: 4%;
}

header {
  width: var(--content);
  margin-top: 3rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}

header a {
  color: var(--link-font);
  font-size: 1rem;
  outline: none;
  text-decoration: none;
  padding: 0.5rem;
}

header a:hover {
  background-color: var(--background-hightlight);
  border-radius: 10px;
}

.header-left {
  flex: 1;
}

.header-left a {
  font-size: 1.5rem;
  margin-left: 0;
}

main {
  width: var(--content);
  margin: auto;
}

section {
  display: block;
}

.index {
  margin-bottom: 1.5rem;
}

.photos {
  margin-bottom: 1.5rem;
}

.projects section {
  padding: 1rem;
  margin-bottom: 0.5rem;
  border-color: transparent;
  border-radius: 10px;
}

.projects section:hover {
  background-color: var(--background-hightlight);
}

.articles section {
  padding: 1rem;
  margin-bottom: 0.5rem;
  border-color: transparent;
  border-radius: 10px;
}

.articles section:hover {
  background-color: var(--background-hightlight);
}

section h1 {
  display: block;
  font-size: 1.4rem;
  color: var(--title-font);
  margin-bottom: 1rem;
}

.flex {
  display: flex;
}

.photo-left {
  flex: 0 0 30%;
}

.photo-left img {
  max-width: 100%;
  max-height: 100%;
}

.photo-right {
  flex: 1;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
}

section a {
  color: var(--link-font);
  outline: none;
  text-decoration: none;
  margin-right: 0.2rem;
}

section a:hover {
  text-decoration: underline;
}

.svg-link img {
  width: 0.9rem;
  margin-right: 0.4rem;
}

section p {
  display: block;
  margin-bottom: 1rem;
}

.flex-photos {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.flex-photos img {
  image-orientation: from-image;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 5px 0px;
  vertical-align: middle;
  max-width: 33%;
}

.flex-photos img:hover {
  box-shadow: rgba(0, 0, 0, 0.8) 0px 2px 5px 0px;
}

hr {
  border-left: 0;
  border-right: 0;
  border-top: 1px solid var(--separator-color);
  border-bottom: 1px solid var(--separator-color);
  margin-left: auto;
  margin-right: auto;
  width: var(--content);
  height: 1px;
}

footer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
  width: var(--content);
}

footer a {
  margin: 0.2rem;
}

footer a img {
  width: 0.9rem;
}
